body {
    font-family: 'Maven Pro';
    color: black;
    background: black;
}

h2 a, h2 a:hover, h3 a, h3 a:hover {
    color: rgb(102,5,30);
    text-decoration: none;
}

a, a:hover {
    color: rgb(45,92,168);
    text-decoration: none;
}

small a, small a:hover {
    color: black;
    text-decoration: underline;
}

header {
    margin: 0rem;
}

header .row {
    display: flex;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header p {
    padding: 0 2rem;
    margin: 0;
}

.jumbotron {
    background-color: black;
    margin: 0rem;
    padding: 1rem;
}

.jumbotron .sportdeath {
    background-image: url('sportdeath.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 1rem 1rem 1rem 0;
}

.jumbotron .xueli {
    display: flex;
    background-image: url('xueli.jpg');
    background-size: 100% auto;
    padding: 1rem 0rem 1rem 0;
}

.jumbotron .cow {
    display: flex;
    background-image: url('turnaround-cow.jpg');
    background-size: 100% auto;
    padding: 1rem 0rem 1rem 0;
}

.jumbotron .yearbook {
    display: flex;
    justify-content: flex-end;
    background-image: url('yearbook.jpg');
    background-size: 100% auto;
    padding: 1rem 0rem 1rem 0;
}

.jumbotron .roast {
    display: flex;
    background-image: url('roast.jpg');
    background-size: 100% auto;
    margin: 1rem;
    padding: 1rem 0rem 1rem 0;
}

.xueli th {
    font-size: small;
    word-wrap: break-word;
}

td {
    word-wrap: break-word;
    white-space: normal;
}

.dark-bg {
    background: rgba(255,255,255,.8);
    padding: 0.25rem 1rem 1rem 1rem;
    margin: 1rem;
    font-weight: bold;
}

.maroon {
    color: rgb(56, 121, 226);
    font-weight: bold;
}

.blue {
    color: rgb(45,92,168);
    font-weight: bold;
}

.light-bg {
    background: rgba(255,255,255,.6);
    padding: 0.25rem 1rem 1rem 1rem;
    margin: 1rem;
    font-weight: bold;
}

.body-text {
    color: black;
    font-size: 1.5rem;
}

.body-text a, .body-text a:hover {
    text-decoration: underline;
    color: black;
}

#welcome {
    background: rgba(255,255,255,.7);
    font-weight: bold;
    padding: 1rem;
    font-weight: 400;
    text-shadow: 0 0 20px rgba(0,0,0,0.4);
    margin: 1rem;
    color: black;
    text-align: center;
}

#clock {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(102,5,30);
    padding: 0 1rem;
}

.jumbotron .cow p {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(102,5,30);;
}

.jumbotron p {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.link-box {
    background: rgba(255,255,255,.8);
    display: inline-block;
    border: none;
    padding: 1rem 0rem 1rem 1rem;
    margin: 1rem;
    font-weight: bold;
    text-align: center;
}

.link-box h2 {
    padding: 0rem;
}

small {
    color: black;
}

h2, h3, h4 {
    color: rgb(102,5,30);
    font-weight: bold;
}

.jumbotron h1 {
    color: black;
    font-weight: bold;
    font-size: 6rem;
}

.jumbotron .roast h1 {
    font-size: 5rem;
}

.glyphicon-link {
    color: rgb(45,92,168);
}
